



.CarouselCampaignCard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 1rem;
    width: 24rem;
    height: 18rem;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

    .CarouselCampaignCard_image-container {
        position: relative;
        height: 65%;
    }

        .CarouselCampaignCard_image {
            width: 100%;
            height: 100%;
            background-color: #d0d0d0;
        }

        .CarouselCampaignCard_lift-gradient {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5rem;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        }

        .CarouselCampaignCard_title {
            color: #fff;
            font-family: "Cherry Bomb One";
            font-size: 1.2rem;
            box-sizing: border-box;
            margin-bottom: 0.5rem;
            padding: 0 1rem;
            position:absolute;
            bottom: 0;
        }

    .CarouselCampaignCard_preview-info {
        height: 35%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0.5rem 1rem 1rem 1rem;
        gap: 0.8rem;
    }

        .CarouselCampaignCard_progress-metric {
            display: flex;
            flex-direction: column;
        }

            .CarouselCampaignCard_progress-bar {
                overflow: hidden;
                position: relative;
                height: 0.5rem;
                background-color: #E9E9E9;
                border-radius: 100rem;
            }

            .CarouselCampaignCard_current-progress {
                position: absolute;
                background-color: #DD4391;
                border-radius: 100rem;
                width: 40%;
                height: 100%;
            }

            .CarouselCampaignCard_buttons {
                display: flex;
                gap: 1rem;
            }

            
