

.input {
    font-family: 'DM Sans';
    border: none;
    border-radius: 0.5rem;
    background-color: #F6F6F6;
    color: #000;
    box-sizing: border-box;
    padding: 0.7rem 1rem;
    outline: none;
    font-size: 0.9rem;
}

.input:hover {
    background-color: #e9e9e9;
}

.input::placeholder {
    color: #8B8B8B;
}