

.formInput_input-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
    /* border: 1px solid red; */
}


    .formInput_input {
        font-family: 'DM Sans';
        border: none;
        border-radius: 0.5rem;
        background-color: #F6F6F6;
        color: #000;
        box-sizing: border-box;
        padding: 0.7rem 1rem;
        outline: none;
        font-size: 0.9rem;
        transition: box-shadow 0.3s;
    }

    .formInput_input:hover {
        background-color: #e9e9e9;
    }

    .formInput_input:focus {
        background-color: #e9e9e9;
        box-shadow: 0 0 0 1px #78B96C inset;
    }

    .formInput_input::placeholder {
        color: #8B8B8B;
    }

    .formInput_errors-container {
        display: flex;
        box-sizing: border-box;
        padding: 0 0 0 0.8rem;
        align-items: center;
        gap: 0.3rem;
        /* border: 1px solid red; */
    }

