

.authForm_form-header {
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    /* border: 1px solid red; */
    font-family: Cherry Bomb One;
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
}

.authForm_form-sub-header {
    margin-bottom: 2rem;
    line-height: 1rem;
    font-size: 0.9rem;
    box-sizing: border-box;
    padding: 0px 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    color: #053534;
}

.authForm_login-form {
    margin-bottom: 1.7rem;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

    .authForm_inputs {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .authForm_errors-container {
        display: flex;
        box-sizing: border-box;
        padding: 0 0 0 0.8rem;
        align-items: center;
        gap: 0.3rem;
        margin: 0 0 1.3rem 0;
        border: 1px solid #cd7777;
        border-radius: 0.3rem;
        height: 2.5rem;
        /* border: 1px solid red; */
    }

        .authForm_forgot-password {
            /* border: 1px solid red; */
            font-size: 0.9rem;
            margin-bottom: 2.2em;
            width: 12rem;
        }

        .authForm_forgot-password:hover {
            text-decoration: underline;
        }

.authForm_continue-with-label {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 1.3rem;
}

.authForm_continue-with-buttons {
    display: flex;
    gap: 0.2rem;
    margin-bottom: 1.7rem;
}

    .authForm_button{
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3rem;
        /* border: 1px solid red; */
        border-radius: 0.5rem;
    }

    .authForm_button:hover{
        background-color: #F6F6F6;
    }

.authForm_sign-up-label {
    /* border: 1px solid red; */
    font-size: 0.9rem;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    margin: 0 0 0.5rem 0;
}

    .authForm_sign-up-label a {
        font-weight: bolder;
    }

    .authForm_sign-up-label a:hover {
        color: #DD4391;
    }