



.Campaign {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 1rem;
    width: 29.7rem;
    height: 23.1rem;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    transition: 0.2s ease;
}
.Campaign:hover {
    transform: scale(1.025);
}
.Campaign:active {
    filter: brightness(0.9);
}

    .Campaign_image-container {
        position: relative;
        height: 73%;
    }

        .Campaign_image {
            width: 100%;
            height: 100%;
            background-color: #d0d0d0;
        }

        .Campaign_tag {
            position: absolute;
            top: 1rem;
            right: 1rem;
            border-radius: 100rem;
            background-color: #DD4391;
            padding: 0.3rem 0.9rem;

        }

        .Campaign_lift-gradient {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 7rem;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
        }

        .Campaign_description {
            color: #fff;
            box-sizing: border-box;
            margin-bottom: 0.8rem;
            padding: 0 1.3rem;
            position:absolute;
            bottom: 0.2rem;
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

    .Campaign_preview-info {
        height: 27%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 1.5rem;
        font-size: 0.8rem;
    }

        .Campaign_preview-info-1 {
            color: #6F6F6F;
            display: flex;
            align-items: center;
            height: 45%;
        }

        .Campaign_preview-info-2 {
            height: 10%;
        }

            .Campaign_progress-bar {
                background-color: #E9E9E9;
                height: 0.5rem;
                width: 100%;
                border-radius: 100rem;
                overflow: hidden;
            }

                .Campaign_progress {
                    background-color: #DD4391;
                    height: 100%;
                    width: 40%;
                    border-radius: 100rem;
                }


        .Campaign_preview-info-3 {
            color: #6F6F6F;
            display: flex;
            align-items: center;
            height: 35%;
        }

            
