



.DonationBox {
    cursor: pointer;
    transform: scale(1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 1rem;
    width: 20rem;
    height: 23.1rem;
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    transition: 0.2s ease;
}
.DonationBox:hover {
    transform: scale(1.025);
}
.DonationBox:active {
    filter: brightness(0.9);
}

    .DonationBox_image-container {
        position: relative;
        height: 57%;
    }

        .DonationBox_image {
            width: 100%;
            height: 100%;
            background-color: #d0d0d0;
        }

        .DonationBox_tag {
            position: absolute;
            top: 1rem;
            right: 1rem;
            border-radius: 100rem;
            background-color: #fff;
            padding: 0.3rem 0.9rem;
        }

    .DonationBox_preview-info {
        height: 43%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 1.5rem;
        font-size: 0.8rem;
    }

        .DonationBox_preview-info-1 {
            display: flex;
            height: 35%;
            align-items: center;
        }

        .DonationBox_preview-info-2 {
            display: flex;
            height: 15%;
            align-items: center;
        }

        .DonationBox_preview-info-3 {
            height: 28%;
            display: flex;
            align-items: center;
        }

            .DonationBox_progress-bar {
                margin-top: 0.8rem;
                background-color: #E9E9E9;
                height: 0.5rem;
                width: 100%;
                border-radius: 100rem;
                overflow: hidden;
            }

                .DonationBox_progress {
                    background-color: #DD4391;
                    height: 100%;
                    width: 40%;
                    border-radius: 100rem;
                }
        
        .DonationBox_preview-info-4 {
            color: #6F6F6F;
            display: flex;
            height: 10%;
        }

            
