

.header_header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-content: center;
    padding: 0.8rem 2.5rem;
    background-color: #ffff;
}

    .header_inner-layer {
        box-sizing: border-box;
        border-radius: 100rem;
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }

        .header_nav-button-group {
            /* border: 1px solid red; */
            display: flex;
            align-items: center;
            height: 100%;
        }

            .header_nav-button-container {
                position: relative;
                /* border: 1px solid red; */
                display: flex;
                justify-content: center;
            }

                .header_nav-button-container .header_bottom-line {
                    position: absolute;
                    bottom: 0;
                    margin-bottom: -0.6rem;
                    height: 0.15rem;
                    width: 0%;
                    border-radius: 100rem;
                    background-color: #DD4391;
                    transition: width 0.3s ease;
                }

                .header_nav-button-container:hover .header_bottom-line {
                    width: 70%;
                }

            .header_nav-button-icon-container {
                height: 3rem;
                width: 3rem;
                /* border: 1px solid red; */
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
            }

                .header_nav-button-icon {
                    /* border: 1px solid red; */
                    width: 2rem;
                    height: 2rem;
                }

                .header_nav-button-icon-container:hover {
                    background-color: #F6F6F6;
                }

            .header_wallet {
                background-color: #F3F3F3;
                border-radius: 100rem;
                box-sizing: border-box;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 3rem;
                width: 50rem;
                max-width: 10.5rem;
                min-width: 10.5rem;
                gap: 0.7rem;
            }

                .header_profile-container {
                    position: relative;
                    height: 100%;
                }

                    .header_profile-button {
                        cursor: pointer;
                        position: relative;
                        height: 100%;
                        z-index: 2;
                        transform: scale(0.8);
                        transition: transform 0.1s ease;
                    }
                    .header_profile-button:active {
                        transform: scale(0.78);
                    }


                        .header_profile-img {
                            height: 100%;
                            border-radius: 100rem;
                            overflow: hidden;
                        }
                        .header_profile-button:hover .header_profile-img {
                            filter: brightness(0.8);
                        }
                        .header_profile-button:active .header_profile-img {
                            filter: brightness(0.6);
                        }

                        .header_profile-dropdown-icon {
                            position: absolute;
                            height: 1rem;
                            width: 1rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #F3F3F3;
                            border-radius: 100rem;
                            box-shadow: 0 0 0 0.1rem #ffffff inset;
                            bottom: 0;
                            right: 0;
                            z-index: 4;
                        }
                        .header_profile-button:active .header_profile-dropdown-icon {
                            background-color: #c9c9c9;
                        }


                    .header_profile-dropdown {
                        display: none;
                        box-sizing: border-box;
                        padding: 1rem 0.7rem;
                        position: absolute;
                        background-color: #fff;
                        right: 0;
                        border-radius: 0.5rem;
                        width: 10rem;
                        z-index: 3;
                        box-shadow: 0px 2px 50px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
                    }

                    .header_profile-dropdown.active {
                        display: flex;
                    }

                        .header_profile-dropdown-buttons {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }

                            .header_profile-dropdown-button {
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                padding: 0.5rem;
                                border-radius: 0.5rem;
                            }
                            .header_profile-dropdown-button:hover {
                                background-color: #F3F3F3;
                            }
                            .header_profile-dropdown-button:active {
                                filter: brightness(0.9);
                            }

                                .header_profile-dropdown-button-icon {
                                    width: 1.7rem;
                                    height: 1.7rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }