.search-box {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid #E5E5E5;
    background: #FFFCF3;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9rem;
    outline: none;
    color: #053534;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #78B96C;
}