

.LoginPage {
    position: relative;
    min-height: 100vh;
    height: 100%;
    /* border: 1px solid red; */
}   

    .LoginPage_lottie-container {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        /* border: 1px solid red; */
    }

    .LoginPage_login-content {
        /* border: 1px solid red; */
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: end;
        padding: 3% 10% 4.5% 0;
    }

    .LoginPage_fade-overlay {
        position: fixed;
        inset: 0;
        background: #FFFCF3;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.8s ease;
    }
    .LoginPage_fade-overlay.active {
        opacity: 1;
    }