


.register-content {
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 3% 10% 6.5% 0;
}



.fade-overlay {
  position: fixed;
  inset: 0;
  background: #FFFCF3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}
.fade-overlay.active {
  opacity: 1;
}
