/* pages/StartCampaign.css */
.start-campaign-container {
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.start-campaign-page {
  flex: 1;
  background-color: #FFFCF3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  max-height: calc(100vh - 5.6rem);
}

.page-container {
  width: 100%;
  max-width: 31.25rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.back-button-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.3rem;
  font-weight: 600;
  font-size: 1rem;
  z-index: 10;
}

.start-campaign-card {
  display: flex;
  height: 90%;
  align-items: center;
  border-radius: 1.5rem 0rem 0rem 1.5rem; 
  background: #FFF;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  padding: 1rem; 
  box-sizing: border-box;
  margin-top: 3.5rem; 
}

.start-campaign-content {
  display: flex;
  flex-direction: column;
  gap: .5rem; 
  text-align: center;
  width: 100%;
  height: 100%;
}

.campaign-title {
  font-size: 1.5rem; 
  font-weight: 700;
  color: #2d3748;
  margin: 0;
}

.campaign-form {
  display: flex;
  flex-direction: column;
  gap: .5rem; 
  text-align: left;
  flex: 1;
  overflow-y:auto; 
  padding: 0.5rem; 
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.form-label {
  font-size: 0.8rem; 
  font-weight: 600;
  color: #2d3748;
}

.form-label.required::after {
  content: " *";
  color: #e53e3e;
}

.form-select {
  font-family: 'DM Sans';
  border: none;
  border-radius: 0.5rem; 
  background-color: #F6F6F6;
  color: #000;
  box-sizing: border-box;
  padding: 0.75rem;
  outline: none;
  font-size: 0.8rem; 
  cursor: pointer;
}

.form-select:hover {
  background-color: #e9e9e9;
}

.form-select:focus {
  background-color: #e9e9e9;
}

.checkbox-group {
  margin: 0.5rem 0; 
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  cursor: pointer;
}

.checkbox-input {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.checkbox-text {
  font-size: 0.8rem;
  color: #2d3748;
}

.next-btn {
  width: 100%;
  padding: 0.3rem;
  font-weight: 600;
  font-size: .5rem; 
  margin-top: 0.5rem; 
}

.animal-image-section {
  height: 90%;
  align-items: flex-start;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
  background: #FFF;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  margin-top: 2.2rem;
  max-height: calc(100vh - 5.6rem);
}

.animal-png {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 0rem 1.5rem 1.5rem 0rem;
}