

button {
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'DM Sans';
    font-size: 1rem;
    transition: background-color 0.1s ease-in;
}


.pink, .pink-ripple {
    color: #fff;
    background-color: #DD4391;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.pink:hover, .pink-ripple:hover {
    background-color: #c73a81;
}
.pink:active {
    background-color: #9b2862;
}
.pink-disabled {
    color: #eaeaea;
    background-color: #cca3b7;
}
.pink-loading {
    color: #fff;
    background-color: #f09dc6;
}

.ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 5rem;   /* starting visible size */
    height: 7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* start tiny */
    pointer-events: none;
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.ripple-effect.dark {
    background: rgba(136, 136, 136, 0.177);
}
.ripple-effect.light {
    background: rgba(255, 255, 255, 0.3);
}
.ripple-effect.active {
    transform: translate(-50%, -50%) scale(7.5); /* spreads out */
    opacity: 1;
}


.transparent {
    /* border: 1px solid black; */
    background-color: transparent;
    color: #000;
}
.transparent:hover {
    color: #DD4391;
}



.grey, .grey-ripple {
    background-color: #F6F6F6;
    color: #000;
    cursor: pointer;
    overflow: hidden;
}
.grey:hover, .grey-ripple:hover {
    background-color: #ebebeb;
}
.grey:active {
    background-color: #d2d2d2;
}




.green {
    background-color: #EAEF9F;
    color: #000;
}
.green:hover {
    background: #d8dd8f;
}





.semi-rounded {
    border-radius: 0.5rem;
}

.full-rounded {
    border-radius: 100rem;
}




.in-bold {
    font-weight: bolder;
}




.Button_bottom-line {
    position: absolute;
    bottom: 0;
    background-color: #c73a81;
    width: 0%;
    height: 0.2rem;
    border-radius: 100rem;
    transition: width 0.1s ease;
}
.transparent:hover .Button_bottom-line {
    width: 100%;
}






/* Animation */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}