

button {
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'DM Sans';
    font-size: 1rem;
    transition: background-color 0.1s ease-in;
}


.pink {
    color: #fff;
    background-color: #DD4391;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.pink:hover {
    background-color: #c73a81;
}
.pink:active {
    background-color: rgb(155, 40, 98);
}
.pink-disabled {
    color: #eaeaea;
    background-color: #cca3b7;
}
.pink-loading {
    color: #fff;
    background-color: #f09dc6;
}


.transparent {
    /* border: 1px solid black; */
    background-color: transparent;
    color: #000;
}
.transparent:hover {
    color: #DD4391;
}



.grey {
    background-color: #F6F6F6;
    color: #000;
}
.grey:hover {
    background-color: #ebebeb;
}




.green {
    background-color: #EAEF9F;
    color: #000;
}
.green:hover {
    background: #d8dd8f;
}





.semi-rounded {
    border-radius: 0.5rem;
}

.full-rounded {
    border-radius: 100rem;
}




.in-bold {
    font-weight: bolder;
}






/* Animation */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}